[server]
port = 5800

[bot]
# 私聊消息最大长度
private_msg_max_len = 20
# 群聊消息最大长度
group_msg_max_len = 10
# 玉璧消息最大长度
exchange_msg_max_len = 3

[database]
use_local = true
host = 127.0.0.1:3306
database = bcjh
user = bcjh
password =

# 所有静态资源需要使用能被onebot客户端读取到的路径
[resource]
image = /bcjh-bot/resource/image/
font = /bcjh-bot/resource/font/
shortcut = /home/bcjh-bot/resource/shortcut/
sql = /home/bcjh-bot/resource/sql/

[log]
# log style: JSON, CONSOLE
style = CONSOLE
# log level: DEBUG, INFO, WARN, ERROR, PANIC, FATAL
level = DEBUG
# log file path
out_path = ./logs/bcjh-bot.log
